body{
   margin: 0%;
    background-color:#333 ;   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

p{
  font-size: larger;
}


.nav-bar{
  overflow: hidden;
  background-color: rgb(90, 88, 88);
  position: fixed;
  top: 0;
  z-index:10;
  width: 100%;
  

}

.nav-bar a:hover{
  background: rgb(0, 0, 0);
  color: #ac8a41;
}


.nav-bar a{
  float: left;
  display: block;
  color:#f1f1f1;
  text-align: left;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  
}

.active {
  background-color:  #ac8a41;
}


/* page content layout can be single colurms or more*/
.content-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-item{
    position: relative;  
    z-index: 2;
   
}

.content-background-img{
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*text at the bottom of the page*/
.content-page-bottom{
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 100px;    
    color: #ffe3a7;
}
/* we use this to darken the column when we hover over it*/
.content-item:hover >.overlay{
  position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#815902;
    opacity:0.2;
    z-index: 100;
    display: block;
    pointer-events: none
}

.img-text{
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left:100px;
  padding-right: 100px;
  font-size: 40px;
  color: #fffaef;
  text-shadow:2px 2px 10px rgb(0, 0, 0);    
}
/*style the about us page*/
.about-us-info{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;    
    color:  #ffe3a7;
}

.icon img {
  width: 50%;
  margin-bottom: 20px;
}
 /*to make the containers a clickable hyperlink*/
.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

/*styling the form*/
form
{       
    color: #ffe3a7;    
    font-size: 20px;
}

input[type=text]
{
  
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
/*styles the submit  buttons for all pages*/

input[type=submit]{
  margin-top: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;


  
}
 textarea{
  width: 100%;
  padding: 12px 20px; 
  background-color:rgb(255, 255, 255);
  color:  #000000;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  resize: vertical;

 }

/*style the forms search page,tracking page and contact us page*/
.form1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  

}
.form2
{ 
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.form3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.mail-sent{
  font-size: 50px;
  color: #ffe3a7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}


